MYSQL_HOST=111.1111.111
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=localpass
MYSQL_DATABASE=mydb

MYSQL_DSN="${MYSQL_USERNAME}:${MYSQL_PASSWORD}@tcp(${MYSQL_HOST}:${MYSQL_PORT})/${MYSQL_DATABASE}?parseTime=true&loc=Local&charset=utf8mb4"